html{
    background-image:-webkit-linear-gradient(left, rgb(106, 165, 190), rgba(255, 255, 255, 0.664), rgb(106, 165, 190) );
}

body{
    font-family:'EB Garamond', serif;
}
#title{
    text-decoration: underline;
}

#player1login{
    margin-top: 80px;
}

.label{
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
button{
    font-size: large;
    background-color: rgb(173, 162, 238);
    font-family: cursive;
}